BISON=/usr/bin/bison
CC=/opt/bw/imed/gcc14/bin/gcc
CFLAGS=-std=iso9899:1999 -pedantic -pedantic-errors -g -O0 -m64 -fno-builtin -fno-fast-math -ffp-contract=off -fno-unsafe-math-optimizations -malign-double -march=k8 -mtune=k8 -mieee-fp -mhard-float -m128bit-long-double -mpreferred-stack-boundary=8
CPPFLAGS=-D_LARGEFILE64_SOURCE -D_FILE_OFFSET_BITS=64
CXXFLAGS=-g -O0 -m64 -fno-builtin -fno-fast-math -ffp-contract=off -fno-unsafe-math-optimizations -malign-double -march=k8 -mtune=k8 -mieee-fp -mhard-float -m128bit-long-double -mpreferred-stack-boundary=8
CXX=/opt/bw/imed/gcc14/bin/g++
DISPLAY=localhost:10.0
EDITOR=/usr/bin/vi
GNAT=/opt/bw/imed/gcc14/bin/gnat
HISTORY=128
HISTSIZE=128
HOME=/home/dclarke
LANG=en_US.UTF-8
LANGUAGE=en_US.UTF-8
LC_TIME=C
LESS_IS_MORE=1
LOGNAME=dclarke
M4=/usr/bin/m4
MAIL=/var/mail/dclarke
MANPATH=/usr/share/man:/opt/schily/share/man
OLDPWD=/home/dclarke/pgm/bw/in_progress
PAGER=/bin/more
PATH=/opt/bw/imed/gcc14/bin:/opt/bw/bin:/opt/bw/sbin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/schily/bin
PWD=/home/dclarke/pgm/bw/in_progress/nothing
SHELL=/bin/bash
SHLVL=1
SRC=/mnt/users/dclarke/src
TERM=xterm
TMPDIR=/var/tmp/dclarke
TZ=GMT0
_=/usr/bin/env
VISUAL=/usr/bin/vi
XAUTHORITY=/home/dclarke/.Xauthority
XTERM_LOCALE=en_US.UTF-8
XTERM_SHELL=/bin/bash
YACC=/usr/bin/yacc
